<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/home">
            <!-- TODO change Icon -->
            <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="map" href="/map">
            <ion-icon aria-hidden="true" name="flame-outline"></ion-icon>
            <ion-label>Map</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about" href="/about">
            <ion-icon aria-hidden="true" name="flame-outline"></ion-icon>
            <ion-label>About</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>